{% extends 'adminbase.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">User Management</h2>
    <div class="card">
        <div class="card-header">
            <h5 class="mb-0">Edit User</h5>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'admin_user_edit_post' %}">
                {% csrf_token %}
                <input type="text" class="form-control" id="username" name="id" value="{{user_details.id}}" hidden>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="{{user_details.username}}" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" value="{{user_details.email}}" name="email" required>
                </div>
                
                <div class="d-flex justify-content-between">
                    <a href="{% url 'admin_home' %}" class="btn btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}